# Week 1 handin - by Sebastian Bentley (cph-sb287)

# 01 Assignment
* ##### 1. Create 5 list comprehensions to solve the following 5 problems:

    * 1.1 Iterate a list of names to return a list of the names starting with H
    
    * 1.2 In one line create a list of the numbers 1-100 to the power of 3
    
    * 1.3 Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
    
    * 1.4 Iterate over each character in a string and get only those that are nummeric
    
    * 1.5 Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)
    

* ##### 2. Create 2 dictionary comprehensions to solve the following:

    * 2.1 Iterate a list of names and create a dictionary where key is the name and value is the length of the name

    * Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}


* ##### Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).

 * 3.1 Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

## 02 Status
A possible solution is made for the entire assignment, including the extra assignment

## 03 Solution part 1

In [11]:
# 1.1 Iterate a list of names to return a list of the names starting with H
names = ["Sven", "Ole", "Sofia", "Hans", "Per", "Hanne", "Helena", "Jens", "Lars", "Hugo"]
result = [name for name in names if name[0] == "H"]
result

['Hans', 'Hanne', 'Helena', 'Hugo']

In [10]:
# 1.2 In one line create a list of the numbers 1-100 to the power of 3
new_list = [value ** 3 for value in range(1, 101)]
new_list

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [1]:
# 1.3 Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
names = ["Sven", "Ole", "Sofia", "Hans", "Per", "Hanne", "Helena", "Jens", "Lars", "Hugo"]
name_in_tup = [tuple([len(name), name]) for name in names]
name_in_tup

[(4, 'Sven'),
 (3, 'Ole'),
 (5, 'Sofia'),
 (4, 'Hans'),
 (3, 'Per'),
 (5, 'Hanne'),
 (6, 'Helena'),
 (4, 'Jens'),
 (4, 'Lars'),
 (4, 'Hugo')]

In [89]:
# 1.4 Iterate over each character in a string and get only those that are nummeric
random_string = "datoen er 03-02-2021 og klokken er over 15:00"
nummerics = [value for value in random_string if value.isnumeric()]
nummerics

['0', '3', '0', '2', '2', '0', '2', '1', '1', '5', '0', '0']

In [2]:
# 1.5 Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)
numbers = ['1','2','3','4','5','6']
set([num1 + "+" + num2 for num1 in numbers for num2 in numbers])

{'1+1',
 '1+2',
 '1+3',
 '1+4',
 '1+5',
 '1+6',
 '2+1',
 '2+2',
 '2+3',
 '2+4',
 '2+5',
 '2+6',
 '3+1',
 '3+2',
 '3+3',
 '3+4',
 '3+5',
 '3+6',
 '4+1',
 '4+2',
 '4+3',
 '4+4',
 '4+5',
 '4+6',
 '5+1',
 '5+2',
 '5+3',
 '5+4',
 '5+5',
 '5+6',
 '6+1',
 '6+2',
 '6+3',
 '6+4',
 '6+5',
 '6+6'}

## 04 Solution part 2

In [13]:
# 2.1 Iterate a list of names and create a dictionary where key is the name and value is the length of the name
names = ["Sven", "Ole", "Sofia", "Hans", "Per", "Hanne", "Helena", "Jens", "Lars", "Hugo"]
dictionary = {name:len(name) for name in names}
dictionary

{'Sven': 4,
 'Ole': 3,
 'Sofia': 5,
 'Hans': 4,
 'Per': 3,
 'Hanne': 5,
 'Helena': 6,
 'Jens': 4,
 'Lars': 4,
 'Hugo': 4}

In [108]:
# 2.2 Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}
import math

numbers = range(1, 11)
dictionary_numbers = {num:math.sqrt(num) for num in numbers}
dictionary_numbers

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795}

## 05 Solution part 3

In [109]:
# 3.1 Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values
numbers = range(1, 7)

{(str(num1) + "+" + str(num2)): (round(combinations.count(num1 + num2) / 36 * 100, 2)) for num1 in numbers for num2 in numbers}

{'1+1': 2.78,
 '1+2': 5.56,
 '1+3': 8.33,
 '1+4': 11.11,
 '1+5': 13.89,
 '1+6': 16.67,
 '2+1': 5.56,
 '2+2': 8.33,
 '2+3': 11.11,
 '2+4': 13.89,
 '2+5': 16.67,
 '2+6': 13.89,
 '3+1': 8.33,
 '3+2': 11.11,
 '3+3': 13.89,
 '3+4': 16.67,
 '3+5': 13.89,
 '3+6': 11.11,
 '4+1': 11.11,
 '4+2': 13.89,
 '4+3': 16.67,
 '4+4': 13.89,
 '4+5': 11.11,
 '4+6': 8.33,
 '5+1': 13.89,
 '5+2': 16.67,
 '5+3': 13.89,
 '5+4': 11.11,
 '5+5': 8.33,
 '5+6': 5.56,
 '6+1': 16.67,
 '6+2': 13.89,
 '6+3': 11.11,
 '6+4': 8.33,
 '6+5': 5.56,
 '6+6': 2.78}